# Ігнорування папки з налаштуваннями Visual Studio
.vs/

# Ігнорування тимчасових файлів компіляції
*.obj
*.exe
*.pdb
*.ilk
*.log
*.sdf
*.ipch
*.VC.opendb
*.VC.db

# Ігнорування користувацьких налаштувань проекту
*.user
*.suo
*.vcxproj.user
